# System Files
.DS_Store

# Environment Variables
# .env

# Python
__pycache__/
*.pyc
*.pyo
venv/
# .venv/
# env/

# Data (Check in structure, but ignore large files)
data/osm/*.osm.pbf
# Graph cache
cache/
# *.graphml
*.pkl
